@using Hotel.org.Interface

@inject IFlightService _flightService;
@inject IAccountService _accountService;

@{
    ViewData["Title"] = "Home Page";
    var user = await _accountService.GetLoggedInUserAsync();
}



    <!-- Main Content -->
    <main class="container mx-auto">
        <!-- Navigation Links -->
        <div class="flex items-center justify-center mt-10">
            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary  hover:bg-primary-700  px-4 py-2 rounded-md text-sm mr-4">Hotels</a>
            <a href="@Url.Action("Flight", "Home")" class="btn btn-primary  border text-white  bg-primary-600 border-primary-600 hover:bg-primary-600 hover:text-white px-4 py-2 rounded-md text-sm">Flights</a>
        </div>


        <!-- Hero Section -->
    <div class="container mt-5">
        <div class="relative">
            <img src="~/PlaceHolderImages/Flight-image.jpeg" height="150" class="w-full rounded-3" alt="Discover Your Trips Worldwide">
            <div class="absolute inset-0 flex items-center justify-center">
                <h1 class="text-white text-center font-bold text-4xl sm:text-5xl lg:text-6xl">Discover Your Trips Worldwide</h1>
            </div>
        </div>
    </div>


        <!-- Search Form -->

    <div class="container mt-5">
        <form action="@Url.Action("FlightSearchPage", "Flight")" method="GET">
            <div class="flex flex-col md:flex-row items-center p-3 md:p-5 shadow-md -mt-16 md:mt-0 z-10 bg-white">
                <!-- Select departure location -->
                <select name="departureLocation" required class="form-select rounded-md bg-background px-3 py-2 text-sm placeholder-muted flex-grow-1 mb-2 md:mb-0 md:mr-2">
                    <option value="" disabled selected>Select a departure location</option>
                    @foreach (var flight in await _flightService.GetAllFlightsForDropDown())
                    {
                        <option value="@flight.From">@flight.From</option>
                    }
                </select>

                <!-- Select destination -->
                <select name="destination" required class="form-select rounded-md bg-background px-3 py-2 text-sm placeholder-muted flex-grow-1 mb-2 md:mb-0 md:mr-2">
                    <!-- Placeholder option -->
                    <option value="" disabled selected>Select a destination</option>
                    <!-- Dynamically populated options -->
                    @foreach (var flight in await _flightService.GetAllFlightsForDropDown())
                    {
                        <option value="@flight.To">@flight.To</option>
                    }
                </select>


                <!-- Select departure time -->
                <select name="departureTime" class="form-select rounded-md bg-background px-3 py-2 text-sm placeholder-muted mb-2 md:mb-0 md:mr-2">
                    <option value="" disabled selected>Select departure time</option>
                    @foreach (var flight in await _flightService.GetAllFlightsForDropDown())
                    {
                        <option value="@flight.DepartureTime.ToString("yyyy-MM-ddTHH:mm:ss")">@flight.DepartureTime</option>
                    }
                </select>

                <!-- Select arrival time -->
                <select name="arrivalTime" class="form-select rounded-md bg-background px-3 py-2 text-sm placeholder-muted mb-2 md:mb-0 md:mr-2">
                    <option value="" disabled selected>Select arrival time</option>
                    @foreach (var flight in await _flightService.GetAllFlightsForDropDown())
                    {
                        <option value="@flight.ArrivalTime.ToString("yyyy-MM-ddTHH:mm:ss")">@flight.ArrivalTime</option>
                    }
                </select>

                <!-- Submit button or registration link -->
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="submit" class="btn btn-primary bg-primary-600 hover:bg-primary-700 text-white px-4 py-2 rounded-md text-sm ml-2">Search</button>
                }
                else
                {
                    <a href="@Url.Action("RegisterPage", "Account")" class="btn btn-primary bg-primary-600 hover:bg-primary-700 text-white px-4 py-2 rounded-md text-sm ml-2">Search</a>
                }
            </div>
        </form>
    </div>

        <!-- Explore Flights Section -->
         <div class="container mt-5">
            <h1 class="text-black mb-5 text-xl font-bold">Explore Flights to Popular Destinations</h1>
            <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
                @foreach (var flight in await _flightService.GetFlightsAsync())
                {
                    <div class="flex flex-col bg-white shadow-md rounded-lg overflow-hidden">
                        <a asp-action="FlightDetailsPage" asp-route-flightId="@flight.Id" asp-controller="Flight">
                            <div class="relative h-48 overflow-hidden">
                                <img src="@flight.Image" class="w-full h-full object-cover" alt="@flight.To">
                                <span class="absolute top-0 right-0 p-2 bg-gradient-to-l from-transparent to-white text-black rounded-tl-md">@flight.Price.ToString("C")</span>
                            </div>
                        </a>
                        <div class="p-4">
                            <h5 class="text-black text-xl font-semibold mb-2">@flight.To</h5>
                            <p class="text-gray-600 mb-2 truncate">@flight.Description</p>
                          @*   @if (!await _flightService.IsFlightFavouritedByUser(user, flight))
                            {
                                <form asp-action="AddFlightToFavorites" asp-route-flightId="@flight.Id" asp-controller="Flight" method="post">
                                    <button type="submit" class="btn btn-dark">Add to Favourites</button>
                                </form>
                            }
                            else
                            {
                                <a asp-action="FavouritedFlightsPage" asp-controller="Flight"><button class="btn btn-primary">Favourited</button></a>
                            } *@
                        </div>
                    </div>
                }
            </div>
        </div>

      @*    <!-- Top Rated Flights Section -->
        <div class="container mt-5">
            <h3 class="text-black mb-5 text-2xl font-bold">Top Rated Flights</h3>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
                @foreach (var flight in await _flightService.GetTopRatedFlightsAsync())
                {
                    <div class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden">
                        <a asp-action="FlightDetailsPage" asp-route-flightId="@flight.Id" asp-controller="Flight">
                            <div class="relative h-64 overflow-hidden">
                                <img src="@flight.Image" class="w-full h-full object-cover" alt="@flight.Destination">
                                <span class="absolute top-0 right-0 p-2 bg-gradient-to-l from-transparent to-white text-black rounded-tl-lg">@flight.Rating</span>
                            </div>
                        </a>
                        <div class="p-4">
                            <h5 class="text-black text-xl font-semibold mb-2">@flight.Destination</h5>
                            <p class="text-gray-700 mb-2 truncate">@flight.Description</p>
                            @if (!await _flightService.IsFlightFavouritedByUser(user, flight))
                            {
                                <form asp-action="AddFlightToFavorites" asp-route-flightId="@flight.Id" asp-controller="Flight" method="post">
                                    <button type="submit" class="btn btn-dark">Add to Favourites</button>
                                </form>
                            }
                            else
                            {
                                <a asp-action="FavouritedFlightsPage" asp-controller="Flight"><button class="btn btn-primary">Favourited</button></a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Most Expensive Flights Section -->
        <div class="container mt-5">
            <h3 class="text-black mb-5 text-2xl font-bold">Most Expensive Flights</h3>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
                @foreach (var flight in await _flightService.GetMostExpensiveFlightsAsync())
                {
                    <div class="flex flex-col bg-white shadow-lg rounded-lg overflow-hidden">
                        <a asp-action="FlightDetailsPage" asp-route-flightId="@flight.Id" asp-controller="Flight">
                            <div class="relative h-64 overflow-hidden">
                                <img src="@flight.Image" class="w-full h-full object-cover" alt="@flight.Destination">
                                <span class="absolute top-0 right-0 p-2 bg-gradient-to-l from-transparent to-white text-black rounded-tl-lg">@flight.Rating</span>
                            </div>
                        </a>
                        <div class="p-4">
                            <h5 class="text-black text-xl font-semibold mb-2">@flight.Destination</h5>
                            <p class="text-gray-700 mb-2 truncate">@flight.Description</p>
                            @if (!await _flightService.IsFlightFavouritedByUser(user, flight))
                            {
                                <form asp-action="AddFlightToFavorites" asp-route-flightId="@flight.Id" asp-controller="Flight" method="post">
                                    <button type="submit" class="btn btn-dark">Add to Favourites</button>
                                </form>
                            }
                            else
                            {
                                <a asp-action="FavouritedFlightsPage" asp-controller="Flight"><button class="btn btn-primary">Favourited</button></a>
                            }
                        </div>
                    </div>
                }
                }
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-blue-600 text-white py-4">
        <div class="container mx-auto px-4 text-center">
            &copy; 2024 Flight Booking. All rights reserved.
        </div>
    </footer> *@
 
