@using Hotel.org.Interface
@using static Hotel.org.Models.Hotels
@inject IHotelService _hotelservice;
@{
    ViewData["Title"] = "Home Page";
}


<div class="container mx-auto">
    <div class="container mt-5">
        <div class="relative">
            <img src="~/Images/Image.png" class="w-full rounded-3 object-cover" alt="Your Image">
            <div class="absolute inset-0 flex items-center justify-center">
                <h1 class="text-white text-center font-bold text-4xl sm:text-5xl lg:text-6xl">Discover Your Trips Worldwide</h1>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <form action="@Url.Action("HotelSearchPage", "Hotel")" method="GET">
            <div class="flex flex-col md:flex-row items-center p-3 md:p-5 shadow-md -mt-16 md:mt-0 z-10 bg-white">
                <select name="place" required class="form-select rounded-md bg-background px-3 py-2 text-sm placeholder-muted flex-grow-1 mb-2 md:mb-0 md:mr-2">
                    <option value="" disabled selected>Select a hotel</option>
                    @foreach (var hotel in await _hotelservice.GetAllHotelsForDropDown())
                    {
                        <option value="@hotel.City">@hotel.Name - @hotel.City</option>
                    }
                </select>
                <input name="checkInTime" type="time" class="form-control rounded-md bg-background px-3 py-2 text-sm placeholder-muted mb-2 md:mb-0 md:mr-2" placeholder="Check In Time" />
                <input name="checkOutTime" type="time" class="form-control rounded-md bg-background px-3 py-2 text-sm placeholder-muted mb-2 md:mb-0 md:mr-2" placeholder="Check Out Time" />

                <div class="dropdown mb-2 md:mb-0">
                    <button class="btn btn-secondary dropdown-toggle bg-white border border-gray-300 px-4 py-2 rounded-md text-sm" type="button" id="dropdownAdults" data-bs-toggle="dropdown" aria-expanded="false">
                        Adults
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownAdults">
                        @foreach (var value in Enum.GetValues(typeof(NumberOfAdultsEnum)))
                        {
                            <li>
                                <input class="dropdown-item" name="AdultsCount" type="radio" value="@value" id="@($"adult_{value}")" onclick="updateDropdownText('dropdownAdults', '@value')" />
                                <label for="@($"adult_{value}")">@value</label>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown ml-2">
                    <button class="btn btn-secondary dropdown-toggle bg-white border border-gray-300 px-4 py-2 rounded-md text-sm" type="button" id="dropdownChildren" data-bs-toggle="dropdown" aria-expanded="false">
                        Children
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownChildren">
                        @foreach (var value in Enum.GetValues(typeof(NumberOfChildrenEnum)))
                        {
                            <li>
                                <input class="dropdown-item" name="ChildrenCount" type="radio" value="@value" id="@($"child_{value}")" />
                                <label for="@($"child_{value}")">@value</label>
                            </li>
                        }
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="submit" class="btn btn-primary bg-primary-600 hover:bg-primary-700 text-white px-4 py-2 rounded-md text-sm ml-2">Search</button>
                }
                else
                {
                    <a href="@Url.Action("RegisterPage", "Account")" class="btn btn-primary bg-primary-600 hover:bg-primary-700 text-white px-4 py-2 rounded-md text-sm ml-2">Search</a>
                }
            </div>
        </form>
    </div>

    <div class="container mt-5">
        <h3 class="text-black mb-5 text-xl font-bold">Explore Stays In Trending Destinations</h3>

        <div class="grid grid-cols-1 md:grid-cols-5 gap-5 rounder-2">
            @foreach (var hotel in await _hotelservice.GetHotelsAsync())
            {
                <div class="flex flex-col">
                    <a asp-action="HotelDetailsPage" asp-route-HotelId="@hotel.Id" asp-controller="Hotel">
                        <div class="card mb-5" style="width: 288px;">
                            <div class="relative h-48 overflow-hidden rounded-t-md">
                                <img src="@hotel.RoomImage" class="w-full h-full object-cover" alt="@hotel.Name" />
                                <span class="absolute bottom-0 right-0 p-2 bg-gradient text-white rounded-l-md border">@hotel.Rating</span>
                            </div>
                            <div class="p-4">
                                <h5 class="card-title text-black text-xl font-semibold mb-2">@hotel.City</h5>
                                <p>
                                    <strong class="text-danger">From @hotel.CheckInTime.ToString("hh\\:mm") - to @hotel.CheckOutTime.ToString("hh\\:mm")</strong>
                                </p>
                                <p class="text-gray-600 mb-2 truncate">@hotel.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function updateDropdownText(dropdownId, value) {
        document.getElementById(dropdownId).innerText = value;
    }
</script>

