@using Hotel.org.Models
@model List<Favourites>



<main class="container mx-auto px-4 py-8 mt-5 text-center bg-gray-100 rounded-3">
    <!-- Hotel List -->
    @if (Model.Any())
    {
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
            @foreach (var item in Model)
            {
                <!-- Example hotel card -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <img src="@item.hotel.RoomImage" alt="Hotel Image" class="w-full h-56 object-cover">
                    <div class="p-6">
                        <h2 class="text-xl font-semibold mb-2">@item.hotel.Name</h2>
                        <p class="text-gray-600 mb-4">Location: @item.hotel.City</p>
                        <div class="d-flex justify-content-between ">
                            <a asp-action="CheckOutPage" asp-controller="Hotel" asp-route-HotelId="@item.hotel.Id">
                                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                                    Book now
                                </button>
                            </a>
                            <form asp-action="RemoveHotelFromFavorites" asp-controller="Hotel" method="post">
                                <input hidden value="@item.hotel.Id" name="HotelId" />
                                <button type="submit" class="btn btn-dark">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-dark 
">No favourited hotels found</p>
    }

</main>



